# *Mara Anahí Martínez Cervantes 1798584*

# Ejercicio 1:  

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [4]:
mat= 1798584 
n= "Mara Anahí Martínez Cervantes"
print(n,mat)

Mara Anahí Martínez Cervantes 1798584

# Ejercicio 2  

Pidiendo el input del usuario, pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división y exponente. Utilizando el loop While.

In [55]:
n1= int(input('Inserte un número: '))  
n2= int(input('Inserte otro número: '))

s= n1 + n2
r1= n1 - n2
r2= n2 - n1
m= n1 * n2
d1= n1 / n2
d2= n2 / n1
e1= n1 ** 2
e2= n2 ** 2
    
print("Suma:\n   {} + {} = {}".format(n1,n2,s))
print("Resta:\n   {} - {} = {}\n   {} - {} = {}".format(n1,n2,r1,n2,n1,r2))
print("Multiplicación:\n   {} * {} = {}".format(n1,n2,m))
print("División:\n   {} / {} = {}\n   {} / {} = {}".format(n1,n2,d1,n2,n1,d2))
print("Exponente cuadrado:\n   {} ** 2 = {}\n   {} ** 2 = {}".format(n1,e1,n2,e2))

Inserte un número: 3
Inserte otro número: 4
Suma:
   3 + 4 = 7
Resta:
   3 - 4 = -1
   4 - 3 = 1
Multiplicación:
   3 * 4 = 12
División:
   3 / 4 = 0.75
   4 / 3 = 1.3333333333333333
Exponente cuadrado:
   3 ** 2 = 9
   4 ** 2 = 16

# Ejercicio 3  

Con loop while o for, realiza una lista de 10 números multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [125]:
tm = []
s= 0
tm.clear()
for i in range(1,11):
    tm.append(i*3)
print(tm)

for item in tm:
    s= s + item
print("\nLa suma de los número es: ",s)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

La suma de los número es:  165

# Ejercicio 4  

- Con una función de if else, revisar si un número es par o impar.  
- Con una función de if else, revisar si un número es primo o no.

In [5]:
b=0
while b == 0:
    print("Ingrese un número: ")
    x=input()
    try:
        b=1
    except ValueError:
        print("\nSolamente ingrese números por favor.")
        b=0
y=float(x)

if y%2==0:
    print("\nSu número es par")
else:
    print("\nSu número es impar")
z=y-1
i=2
b2=0
while i<=z:
    if y%i!=0:
        b2=b2+0
    else:
        b2=b2+1
    i=i+1
if b2==0:
    print("\nSu número es primo")
else:
    print("\nSu número no es primo")

Ingrese un número:
2

Su número es par

Su número es primo

# Ejercicio 5  

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, división y exponente.   

Funciones matemáticas en la librería de math en python.

In [24]:
a=int(input("Introduce un número: "))
b=int(input("Introduce otro número: "))

def Suma(a,b):
    c= a+b
    return c
def Resta(a,b):
    c= a-b
    return c
def Multiplicacion(a,b):
    c= a*b
    return c
def Division(a,b):
    c= a/b
    return c
def Exponente1(a):
    c= a**2
    return c
def Exponente2(b):
    c = b**2
    return c

e=int(input("\n\nEscriba el número de la operación deseada: \n(1) Suma.\n(2) Resta.\n(3) Multiplicación.\n(4) División.\n(5) Exponente.\n"))

if e==1:
    print ("\n\nSuma: \n",Suma(a,b))
elif e==2:
    print ("\n\nRestas: \n",Resta(a,b))
elif e==3:
    print ("\n\nMultiplicacion: \n", Multiplicacion(a,b))
elif e==4:
    print ("\n\nDivision: \n", Division(a,b))
elif e==5:
    print ("\n\nExponentes: \n De tu primer número ",a," es ", Exponente1(a),"\n De tu segundo número ",b," es ",Exponente2(b))

Introduce un número: 3
Introduce otro número: 4


Escriba el número de la operación deseada:
(1) Suma.
(2) Resta.
(3) Multiplicación.
(4) División.
(5) Exponente.
5


Exponentes:
 De tu primer número  3  es  9
 De tu segundo número  4  es  16

# Ejercicios con estructuras básicas de python.  

## Tuplas.   

- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [236]:
a= 17
print('La variable {} es {}'.format(a, type(a)))
print('\n')

b= 18.04
print('La variable {} es {}'.format(b, type(b)))
print('\n')

c= True
print('La variable',c, ' es ', type(c))
print('\n')

d= 13j
print('La variable {} es {}'.format(d, type(d)))

La variable 17 es <class 'int'>


La variable 18.04 es <class 'float'>


La variable True  es  <class 'bool'>


La variable 13j es <class 'complex'>

- Crear una tupla con valores enteros, imprimir el primer y último valor.

In [237]:
t1=(13, 17, 16, 18, 4)
print(t1,'\n', type(t1),'\n')

print('Primer valor: ',t1[0])
print('Segundo valor: ',t1[-1])

(13, 17, 16, 18, 4)
 <class 'tuple'>

Primer valor:  13
Segundo valor:  4

- Añadir 3 valores de string a la tupla.

In [238]:
t1 = t1.__add__(('svt',))
t1

(13, 17, 16, 18, 4, 'svt')

- Verificar si una variable existe dentro de la tupla.

In [240]:
a= 17

print(a, 'esta dentro de la tupla: ',a in t1)

17 esta dentro de la tupla:  True

## Listas.  

- Crear una lista con 40 elementos aleatorios enteros.

In [167]:
import random

n=40

alt = [random.randint(0,100) for _ in range(n)]
print(alt)

[92, 39, 30, 44, 42, 53, 56, 91, 90, 80, 23, 2, 52, 8, 61, 34, 34, 2, 44, 40, 35, 71, 8, 0, 76, 11, 36, 94, 16, 21, 7, 49, 27, 48, 81, 36, 81, 53, 61, 98]

- Con una función (def) crear dos listas nuevas  partir de la lista creada por números aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [168]:
par= []
impar= []
i= 0


for i in range(0,40):
    if alt[i] % 2 == 0:
        par.append(alt[i])
    else:
        impar.append(alt[i])
print(par)
print('\n')
print(impar)

[92, 30, 44, 42, 56, 90, 80, 2, 52, 8, 34, 34, 2, 44, 40, 8, 0, 76, 36, 94, 16, 48, 36, 98]


[39, 53, 91, 23, 61, 35, 71, 11, 21, 7, 49, 27, 81, 81, 53, 61]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [169]:
longpar= len(par)
longimpar= len(impar)

print('Hay {} números pares.\nHay {} número impares.'.format(longpar,longimpar))

Hay 24 números pares.
Hay 16 número impares.

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [170]:
par.sort()
par.reverse()
print(par)

print('\n')

impar.sort()
print(impar)

[98, 94, 92, 90, 80, 76, 56, 52, 48, 44, 44, 42, 40, 36, 36, 34, 34, 30, 16, 8, 8, 2, 2, 0]


[7, 11, 21, 23, 27, 35, 39, 49, 53, 53, 61, 61, 71, 81, 81, 91]

- Utilizar al menos cuatro de la funciones de listas en python en la lista original de 40 elementos.

In [171]:
alt.reverse()
print(alt)
print('\n')
alt.pop()
print(alt)
print('\n')
alt.extend([17, 13, 18])
print(alt)
print('\n')
alt.clear()
print(alt)

[98, 61, 53, 81, 36, 81, 48, 27, 49, 7, 21, 16, 94, 36, 11, 76, 0, 8, 71, 35, 40, 44, 2, 34, 34, 61, 8, 52, 2, 23, 80, 90, 91, 56, 53, 42, 44, 30, 39, 92]


[98, 61, 53, 81, 36, 81, 48, 27, 49, 7, 21, 16, 94, 36, 11, 76, 0, 8, 71, 35, 40, 44, 2, 34, 34, 61, 8, 52, 2, 23, 80, 90, 91, 56, 53, 42, 44, 30, 39]


[98, 61, 53, 81, 36, 81, 48, 27, 49, 7, 21, 16, 94, 36, 11, 76, 0, 8, 71, 35, 40, 44, 2, 34, 34, 61, 8, 52, 2, 23, 80, 90, 91, 56, 53, 42, 44, 30, 39, 17, 13, 18]


[]

## Diccionarios.  
 
- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [30]:
dic_svt= {'Vernon': 23,'Mingyu': 24,'S.Coups': 26,'Wonwoo': 25,'Dino':22,'Joshua':25}

dic_svt

{'Vernon': 23,
 'Mingyu': 24,
 'S.Coups': 26,
 'Wonwoo': 25,
 'Dino': 22,
 'Joshua': 25}

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [39]:
l= list(dic_svt.values())
print(l)
sorted(list(dic_svt.values()))

[23, 24, 26, 25, 22, 25]

[22, 23, 24, 25, 25, 26]

- Usando el diccionario y un loop, imprimir solo los nombres.

In [37]:
for i in dic_svt: print(i)

Vernon
Mingyu
S.Coups
Wonwoo
Dino
Joshua

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [26]:
dic_svt['Woozi'] = '24'
dic_svt['Jeonghan'] = '25'

dic_svt

{'Vernon': 23,
 'Mingyu': 24,
 'S.Coups': 26,
 'Wonwoo': 25,
 'Dino': 22,
 'Joshua': 25,
 'Woozi': '24',
 'Jeonghan': '25'}

## Sets.  

- Crear un set con 100 números aleatorios del 1 al 25.

In [173]:
import random

n=100

s = {random.randint(1,25) for _ in range(n)}
print(s)
type(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

set

- Comprueba la longitud de tu set.

In [174]:
len(s)

25

- Crear una lista de 5 números aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [201]:
import random
n= 5

ss= {random.randint(1,10) for i in range(n)}
print(ss)
for i in ss:
    print(i in s)

{3, 4, 5, 7, 10}
True
True
True
True
True